# clustering

In [2]:
from sklearn.datasets import make_blobs
import pandas as pd
import numpy as np
import math
import scipy as sp
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
x, y = make_blobs(n_samples=100, centers=4, n_features=2, random_state=6)
points = pd.DataFrame(x, y).reset_index(drop=True)
points.columns = ["x", "y"]
points.head()

           x         y
0   0.276181 -2.217047
1   7.927368 -9.761527
2   8.491428 -2.549749
3 -11.537102  2.434883
4   4.292259 -8.992204

In [4]:
from sklearn.cluster import KMeans 

# k-means clustering 실행
kmeans = KMeans(n_clusters=4)
kmeans.fit(points)

# 결과 확인
result_by_sklearn = points.copy()
result_by_sklearn["cluster"] = kmeans.labels_
result_by_sklearn.head()

           x         y  cluster
0   0.276181 -2.217047        2
1   7.927368 -9.761527        0
2   8.491428 -2.549749        3
3 -11.537102  2.434883        1
4   4.292259 -8.992204        0

In [5]:
result_by_sklearn['cluster'].value_counts()

2    25
0    25
3    25
1    25
Name: cluster, dtype: int64