In [3]:
import numpy as np
import pandas as pd

season = pd.DataFrame({'season':['spring', 'summer', 'fall', 'winter'],
                       'sesaon2': ['spring1', 'summer2', 'fall2', 'winter2']
                      })

In [4]:
season

   season  sesaon2
0  spring  spring1
1  summer  summer2
2    fall    fall2
3  winter  winter2

In [5]:
pd.get_dummies(season)

,season_fall,season_spring,season_summer,season_winter,sesaon2_fall2,sesaon2_spring1,sesaon2_summer2,sesaon2_winter2
0,0,1,0,0,0,1,0,0
1,0,0,1,0,0,0,1,0
2,1,0,0,0,1,0,0,0
3,0,0,0,1,0,0,0,1

In [7]:
season

   season  sesaon2
0  spring  spring1
1  summer  summer2
2    fall    fall2
3  winter  winter2