In [2]:
import pandas as pd
from factor_analyzer import FactorAnalyzer
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [10]:
df_re = pd.read_csv('bfi.csv', index_col=0)
df_re = df_re.drop(columns=['gender', 'education', 'age'], axis=0)

In [5]:
df_re.head()

,A1,A2,A3,A4,A5,C1,C2,C3,C4,C5,...,N1,N2,N3,N4,N5,O1,O2,O3,O4,O5
61617,2.0,4.0,3.0,4.0,4.0,2.0,3.0,3.0,4.0,4.0,...,3.0,4.0,2.0,2.0,3.0,3.0,6,3.0,4.0,3.0
61618,2.0,4.0,5.0,2.0,5.0,5.0,4.0,4.0,3.0,4.0,...,3.0,3.0,3.0,5.0,5.0,4.0,2,4.0,3.0,3.0
61620,5.0,4.0,5.0,4.0,4.0,4.0,5.0,4.0,2.0,5.0,...,4.0,5.0,4.0,2.0,3.0,4.0,2,5.0,5.0,2.0
61621,4.0,4.0,6.0,5.0,5.0,4.0,4.0,3.0,5.0,5.0,...,2.0,5.0,2.0,4.0,1.0,3.0,3,4.0,3.0,5.0
61622,2.0,3.0,3.0,4.0,5.0,4.0,4.0,5.0,3.0,2.0,...,2.0,3.0,4.0,4.0,3.0,3.0,3,4.0,3.0,3.0

In [11]:
# 정규화
std_scaler = StandardScaler()
df = df_re.copy()
std_scaler.fit(df_re)
df_re = std_scaler.transform(df_re)
df_re = pd.DataFrame(df_re, columns = df.columns, index = list(df.index.values))

In [13]:
df_re.head()

,A1,A2,A3,A4,A5,C1,C2,C3,C4,C5,...,N1,N2,N3,N4,N5,O1,O2,O3,O4,O5
61617,-0.293740,-0.684736,-1.232193,-0.473005,-0.445324,-2.016189,-1.039335,-1.012137,1.052207,0.431939,...,0.045150,0.322654,-0.759113,-0.755448,0.018731,-1.608086,2.100354,-1.178286,-0.730791,0.384442
61618,-0.293740,-0.684736,0.304379,-1.824935,0.349408,0.400976,-0.280672,-0.235933,0.324865,0.431939,...,0.045150,-0.332796,-0.135132,1.156109,1.254554,-0.722603,-0.455765,-0.359071,-1.549771,0.384442
61620,1.837723,-0.684736,0.304379,-0.473005,-0.445324,-0.404745,0.477990,-0.235933,-0.402476,1.046096,...,0.681835,0.978104,0.488848,-0.755448,0.018731,-0.722603,-0.455765,0.460143,0.088189,-0.368729
61621,1.127235,-0.684736,1.072664,0.202960,0.349408,-0.404745,-0.280672,-1.012137,1.779548,1.046096,...,-0.591535,0.978104,-0.759113,0.518924,-1.217091,-1.608086,0.183265,-0.359071,-1.549771,1.890784
61622,-0.293740,-1.538118,-1.232193,-0.473005,0.349408,-0.404745,-0.280672,0.540272,0.324865,-0.796374,...,-0.591535,-0.332796,0.488848,0.518924,0.018731,-1.608086,0.183265,-0.359071,-1.549771,0.384442

In [14]:
fa2 = FactorAnalyzer(method='principal', n_factors=3, rotation='varimax')
fa2.fit(df_re)
print(pd.DataFrame(fa2.loadings_, index=df_re.columns))

           0         1         2
A1 -0.264019  0.120338  0.003271
A2  0.594197  0.039932  0.127483
A3  0.686106  0.006265  0.084914
A4  0.458904 -0.092359  0.103475
A5  0.689331 -0.119285  0.071037
C1  0.060110  0.005899  0.646857
C2  0.101074  0.075045  0.650284
C3  0.084810 -0.054591  0.526424
C4 -0.067137  0.308142 -0.617499
C5 -0.163853  0.377874 -0.474538
E1 -0.585323  0.049965  0.049472
E2 -0.626132  0.289385 -0.063393
E3  0.653667  0.048073  0.193223
E4  0.727028 -0.140358 -0.007891
E5  0.503251  0.032562  0.388560
N1 -0.057665  0.768932 -0.088295
N2 -0.073591  0.772203 -0.039442
N3 -0.041580  0.787751 -0.056910
N4 -0.258343  0.670646 -0.093283
N5 -0.037183  0.611792 -0.123250
O1  0.250448  0.076743  0.434571
O2  0.077397  0.164199 -0.422993
O3  0.367202  0.101085  0.420481
O4 -0.037134  0.353613  0.261426
O5 -0.020853  0.032722 -0.420206